.container {
  display: inline;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  margin-right: 10px; /* Adjust spacing between boxes */
  text-align: center;
  line-height: 100px;
}
.container {
  display: flex;
}
.heading{
 
  margin-left:50px;
}
.box {
  width: 200px;
  background-color: #f0f0f0;
  margin-right: 20px; /* Adjust spacing between boxes */
  padding: 20px;
  text-align: center;
}

.box h2 {
  margin-bottom: 10px;
}

.box p {
  color: #666;
}
